<%= form_for(@joblist) do |f| %>
  <% if @joblist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joblist.errors.count, "error") %> prohibited this joblist from being saved:</h2>

      <ul>
      <% @joblist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :企業名 %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :設立年 %><br>
    <%= f.text_area :data1 %>
  </div>
  <div class="field">
    <%= f.label :正社員数 %><br>
    <%= f.text_area :data2 %>
  </div>
  <div class="field">
    <%= f.label :パート、契約社員数 %><br>
    <%= f.text_area :data3 %>
  </div>
  <div class="field">
    <%= f.label :男性社員数 %><br>
    <%= f.text_area :data4 %>
  </div>
  <div class="field">
    <%= f.label :女性社員数 %><br>
    <%= f.text_area :data5 %>
  </div>
  <div class="field">
    <%= f.label :資本金 %><br>
    <%= f.text_area :data6 %>
  </div>
  <div class="field">
    <%= f.label :業種 %><br>
    <%= f.text_area :data7 %>
  </div>
  <div class="field">
    <%= f.label :代表者 %><br>
    <%= f.text_area :data8 %>
  </div>
  <div class="field">
    <%= f.label :担当窓口 %><br>
    <%= f.text_area :data9 %>
  </div>
  <div class="field">
    <%= f.label :事業内容 %><br>
    <%= f.text_area :data10 %>
  </div>
  <div class="field">
    <%= f.label :離職率 %><br>
    <%= f.text_area :data11 %>
  </div>
  <div class="field">
    <%= f.label :インタービュー者名 %><br>
    <%= f.text_area :data12 %>
  </div>
  <div class="field">
    <%= f.label :入社年 %><br>
    <%= f.text_area :data13 %>
  </div>
  <div class="field">
    <%= f.label :歳 %><br>
    <%= f.text_area :data14 %>
  </div>
  <div class="field">
    <%= f.label :入社のきっかけ %><br>
    <%= f.text_area :data15 %>
  </div>
  <div class="field">
    <%= f.label :日常業務の内容 %><br>
    <%= f.text_area :data16 %>
  </div>
  <div class="field">
    <%= f.label :月平均残業時間 %><br>
    <%= f.text_area :data17 %>
  </div>
  <div class="field">
    <%= f.label :当社の強み %><br>
    <%= f.text_area :data18 %>
  </div>
  <div class="field">
    <%= f.label :これからの会社の目標 %><br>
    <%= f.text_area :data19 %>
  </div>
  <div class="field">
    <%= f.label :理想の社員 %><br>
    <%= f.text_area :data20 %>
  </div>
  <div class="field">
    <%= f.label :教育制度及び福利厚生 %><br>
    <%= f.text_area :data21 %>
  </div>
  <div class="field">
    <%= f.label :入社してくるみなさんに期待すること %><br>
    <%= f.text_area :data22 %>
  </div>
  <div class="field">
    <%= f.label :社内イベント %><br>
    <%= f.text_area :data23 %>
  </div>
  <div class="field">
    <%= f.label :必須質問 %><br>
    <%= f.text_area :data24 %>
  </div>
  <div class="field">
    <%= f.label :レポート後記 %><br>
    <%= f.text_area :data25 %>
  </div>
  <div class="field">
    <%= f.label :こんな感じの人事でした %><br>
    <%= f.text_area :data26 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
