<p id="notice"><%= notice %></p>

<h1>
  <%= @joblist.company %>
</h1>

<h2>会社概要</h2>

<p>
  <strong>設立年:</strong>
  <%= @joblist.data1 %>
</p>

<p>
  <strong>正社員数:</strong>
  <%= @joblist.data2 %>
</p>

<p>
  <strong>パート、契約社員数:</strong>
  <%= @joblist.data3 %>
</p>

<p>
  <strong>男性社員数:</strong>
  <%= @joblist.data4 %>
</p>

<p>
  <strong>女性社員数:</strong>
  <%= @joblist.data5 %>
</p>

<p>
  <strong>資本金:</strong>
  <%= @joblist.data6 %>
</p>

<p>
  <strong>業種:</strong>
  <%= @joblist.data7 %>
</p>

<p>
  <strong>代表者:</strong>
  <%= @joblist.data8 %>
</p>

<p>
  <strong>担当窓口:</strong>
  <%= @joblist.data9 %>
</p>

<p>
  <strong>事業内容:</strong>
  <%= @joblist.data10 %>
</p>

<p>
  <strong>離職率:</strong>
  <%= @joblist.data11 %>
</p>

<h2>社員インタビュー</h2>
<p>
  <strong>インタビュー者名:</strong>
  <%= @joblist.data12 %>
</p>

<p>
  <strong>入社年:</strong>
  <%= @joblist.data13 %>
</p>

<p>
  <strong>歳:</strong>
  <%= @joblist.data14 %>
</p>

<p>
  <strong>入社のきっかけ:</strong>
  <%= @joblist.data15 %>
</p>

<p>
  <strong>日常業務の内容:</strong>
  <%= @joblist.data16 %>
</p>

<p>
  <strong>月平均残業時間:</strong>
  <%= @joblist.data17 %>
</p>

<h2>代表者からのメッセージ</h2>

<p>
  <strong>当社の強み:</strong>
  <%= @joblist.data18 %>
</p>

<p>
  <strong>これからの会社目標:</strong>
  <%= @joblist.data19 %>
</p>

<p>
  <strong>理想の社員:</strong>
  <%= @joblist.data20 %>
</p>

<p>
  <strong>教育制度及び福利厚生:</strong>
  <%= @joblist.data21 %>
</p>

<p>
  <strong>入社してくるみなさんに期待すること:</strong>
  <%= @joblist.data22 %>
</p>

<p>
  <strong>社内イベント:</strong>
  <%= @joblist.data23 %>
</p>

<p>
  <strong>必須質問:</strong>
  <%= @joblist.data24 %>
</p>

<p>
  <strong>レポート後記:</strong>
  <%= @joblist.data25 %>
</p>

<p>
  <strong>こんな感じの人事でした:</strong>
  <%= @joblist.data26 %>
</p>
<!--
<%= link_to 'Edit', edit_joblist_path(@joblist) %> |
<%= link_to 'Back', joblists_path %>
-->