<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jobapp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

</head>
<body>
<%= image_tag "logo.png" %>

<%= yield %>

<%= link_to "Home", "/"%>
</div>
</body>
</html>
